.main-container {
    display: flex;
    flex-direction: column;


    .column-content {
        display: flex;
        flex-direction: column;
        padding: 0 15%;
        margin-top: 3rem;
    }
}